.Key {
	width: 3em;
	height: 3em;
	font-size: 18px;
	display: grid;
	place-items: center;
	color: #fff;
	border-radius: 5%;
	background-color: #818384;
	margin-bottom: 5px;
	cursor: pointer;
	user-select: none;
}
.Key:not(:last-child) {
	margin-right: 5px;
}

.Key.wide {
	width: 5em;
}
