.keyboard {
	margin-top: 3em;
	position: relative;
}

.Keyboard-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert {
	position: absolute;
	top: -40px;
	width: 100%;

	display: grid;
	place-items: center;
	color: white;
}
